:root {
    --primary-color: #52B470;
    --golden-color: #F4C23C;
    --sub-golden-color: #efc85e;
    --primary-background-color: #e3eee4;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Target the thumb */

::-webkit-scrollbar-thumb {
    background-color: var(--golden-color);
}


/* Target the track */

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: var(--golden-color);
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-inline: auto;
    flex-direction: column;
    margin: 0;
    margin-left: 15% !important;
}

.input-field {
    margin: 1rem 0;
    width: 80%;
    display: inherit;
}

.input-field input {
    background: #fff;
    border: 1px solid #b8c4c2;
    border-radius: 4px;
    /* font-size: 14px; */
    /* outline: none; */
    padding: 0.4rem 0.2rem;
    transition: all .15s ease-in-out 0s;
    width: 100%;
}

.input-field>* {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

input:hover,
input:focus {
    border-color: var(--primary-color);
    outline-color: var(--primary-color);
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.longlabel {
    width: 10vw;
}

.input-field label {
    font-size: 18px;
    letter-spacing: .7px;
    line-height: 1.3;
    margin-right: 0.45rem;
    padding: 0.4rem 0.2rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100vh;
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    margin: 0;
}

.container>* {
    margin-inline: auto;
    margin: 0;
}

.auth-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    background: var(--primary-background-color);
}

.form-container {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-container>* {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}