html {
    background-color: var(--primary-background-color);
}

.login-utmsi-logo11 {
    top: 5vh;
    left: 5vw;
    width: 30vw;
    height: 20vh;
    position: absolute;
}

@media (max-width: 768px) {
    .login-utmsi-logo11 {
        left: 0vh;
        width: 60vw;
        height: 40vh;
        padding: 0vh 20vw 0vh 15vw;
        position: absolute;
    }
}

.login-rectangle2 {
    top: 30vh;
    left: 5vw;
    width: 15vw;
    height: 6vh;
    position: absolute;
    border-color: transparent;
    border-radius: 5px;
}

.login-rectangle3 {
    top: 30vh;
    left: 22vw;
    width: 15vw;
    height: 6vh;
    position: absolute;
    border-color: transparent;
    border-radius: 5px;
}

.login-text {
    display: flex;
    justify-content: space-around;
    top: 42vh;
    left: 6vw;
    color: rgba(104, 104, 104, 1);
    width: 30vw;
    font-size: 1.2vw;
    position: absolute;
    font-family: IBM Plex Sans;
    font-weight: 400;
    text-align: left;
}

hr {
    width: 25vh;
}

.login-rectangle13 {
    top: 697px;
    left: 82px;
    width: 149px;
    height: 30px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.login-rectangle14 {
    top: 698px;
    left: 256px;
    width: 149px;
    height: 30px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.login-text10 {
    top: 704px;
    left: 142px;
    color: rgba(255, 255, 255, 1);
    width: 96px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text12 {
    top: 704px;
    left: 278px;
    color: rgba(255, 255, 255, 1);
    width: 96px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text14 {
    top: 655px;
    left: 103px;
    color: rgba(104, 104, 104, 1);
    width: 326px;
    height: auto;
    position: absolute;
    font-size: 11px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text16 {
    top: 744px;
    left: 82px;
    color: rgba(104, 104, 104, 1);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 9px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text17 {
    color: rgba(104, 104, 104, 1);
}

.login-text18 {
    color: rgba(38, 54, 197, 1);
}

.login-text19 {
    color: rgba(104, 104, 104, 1);
}

.login-text20 {
    color: rgba(38, 54, 197, 1);
}

.login-rectangle12 {
    top: 656px;
    left: 82px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.login-text22 {
    top: 345px;
    left: 102px;
    color: rgba(255, 255, 255, 1);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text24 {
    top: 346px;
    left: 382px;
    color: rgba(255, 255, 255, 1);
    width: 189px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text26 {
    top: 961px;
    left: 464px;
    color: rgba(32, 33, 36, 1);
    width: 31px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text28 {
    top: 961px;
    left: 535px;
    color: rgba(32, 33, 36, 1);
    width: 49px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text30 {
    top: 961px;
    left: 624px;
    color: rgba(32, 33, 36, 1);
    width: 49px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-polygon4 {
    top: 973px;
    left: 227px;
    width: 9px;
    height: 9px;
    position: absolute;
}

.login-text32 {
    top: 961px;
    left: 80px;
    color: rgba(32, 33, 36, 1);
    width: 141px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-showpasswordicon31 {
    top: 592px;
    left: 514px;
    width: 17px;
    height: 10px;
    position: absolute;
    border-color: transparent;
}

.login-line4 {
    top: 942px;
    left: 80px;
    width: 581px;
    height: 0px;
    position: absolute;
}

.login-digitalnomad1 {
    top: 476px;
    left: 796px;
    width: 644px;
    height: 563px;
    position: absolute;
    border-color: transparent;
}

.login-peopledebating21 {
    top: 129.3720703125px;
    left: 670.7337646484375px;
    width: 663px;
    height: 529px;
    position: absolute;
    border-color: transparent;
}

.login-monoto-logo1 {
    top: 160px;
    left: 80px;
    width: 128px;
    height: 63px;
    position: absolute;
    border-color: transparent;
}

.login-image43308432 {
    top: 20vh;
    right: 3vw;
    width: 50vw;
    height: 50vh;
    position: absolute;
    /* border-color: transparent; */
    border-radius: 308px;
}

.login-signup-dekstopregister1 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
}

.login-utmsi-logo111 {
    top: 102px;
    left: 140px;
    width: 453px;
    height: 206px;
    position: absolute;
    border-color: transparent;
}

.login-image433084311 {
    top: 182px;
    left: 572px;
    width: 922px;
    height: 616px;
    position: absolute;
    border-color: transparent;
    border-radius: 308px;
}

.login-rectangle21 {
    top: 334px;
    left: 80px;
    width: 280px;
    height: 50px;
    position: absolute;
    border-color: transparent;
    border-radius: 5px;
}

.login-rectangle31 {
    top: 334px;
    left: 381px;
    width: 280px;
    height: 50px;
    position: absolute;
    border-color: transparent;
    border-radius: 5px;
}

.login-line11 {
    top: 434px;
    left: 360px;
    width: 280px;
    height: 0px;
    position: absolute;
}

.login-line21 {
    top: 434px;
    left: 661px;
    width: 280px;
    height: 0px;
    position: absolute;
}

.login-text34 {
    top: 425px;
    left: 365px;
    color: rgba(104, 104, 104, 1);
    width: 14px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-rectangle61 {
    top: 490px;
    left: 81px;
    width: 462px;
    height: 30px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.login-text36 {
    top: 496px;
    left: 91px;
    color: rgba(180, 180, 180, 1);
    width: 134px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-rectangle101 {
    top: 580px;
    left: 82px;
    width: 461px;
    height: 30px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

.login-text38 {
    top: 587px;
    left: 92px;
    color: rgba(180, 180, 180, 1);
    width: 91px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-rectangle131 {
    top: 697px;
    left: 82px;
    width: 149px;
    height: 30px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.login-rectangle141 {
    top: 698px;
    left: 256px;
    width: 149px;
    height: 30px;
    position: absolute;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

.login-text40 {
    top: 467px;
    left: 80px;
    color: rgba(104, 104, 104, 1);
    width: 68px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text42 {
    top: 557px;
    left: 81px;
    color: rgba(104, 104, 104, 1);
    width: 68px;
    height: auto;
    position: absolute;
    font-size: 12px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text44 {
    top: 704px;
    left: 142px;
    color: rgba(255, 255, 255, 1);
    width: 96px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text46 {
    top: 704px;
    left: 278px;
    color: rgba(255, 255, 255, 1);
    width: 96px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text48 {
    top: 655px;
    left: 103px;
    color: rgba(104, 104, 104, 1);
    width: 326px;
    height: auto;
    position: absolute;
    font-size: 11px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text50 {
    top: 744px;
    left: 82px;
    color: rgba(104, 104, 104, 1);
    width: 280px;
    height: auto;
    position: absolute;
    font-size: 9px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text51 {
    color: rgba(104, 104, 104, 1);
}

.login-text52 {
    color: rgba(38, 54, 197, 1);
}

.login-text53 {
    color: rgba(104, 104, 104, 1);
}

.login-text54 {
    color: rgba(38, 54, 197, 1);
}

.login-rectangle121 {
    top: 656px;
    left: 82px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.login-text56 {
    top: 345px;
    left: 140px;
    color: rgba(255, 255, 255, 1);
    width: 171px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text58 {
    top: 345px;
    left: 434px;
    color: rgba(255, 255, 255, 1);
    width: 189px;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: IBM Plex Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text60 {
    top: 961px;
    left: 464px;
    color: rgba(32, 33, 36, 1);
    width: 31px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text62 {
    top: 961px;
    left: 535px;
    color: rgba(32, 33, 36, 1);
    width: 49px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-text64 {
    top: 961px;
    left: 624px;
    color: rgba(32, 33, 36, 1);
    width: 49px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-polygon41 {
    top: 973px;
    left: 227px;
    width: 9px;
    height: 9px;
    position: absolute;
}

.login-text66 {
    top: 961px;
    left: 80px;
    color: rgba(32, 33, 36, 1);
    width: 141px;
    height: auto;
    position: absolute;
    font-size: 13px;
    align-self: auto;
    font-style: Medium;
    text-align: left;
    font-family: DM Sans;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.login-showpasswordicon311 {
    top: 600px;
    left: 529px;
    width: 17px;
    height: 10px;
    position: absolute;
    border-color: transparent;
}

.login-line41 {
    top: 942px;
    left: 80px;
    width: 581px;
    height: 0px;
    position: absolute;
}

.login-digitalnomad11 {
    top: 476px;
    left: 796px;
    width: 644px;
    height: 563px;
    position: absolute;
    border-color: transparent;
}

.login-peopledebating211 {
    top: 129.3720703125px;
    left: 670.7337646484375px;
    width: 663px;
    height: 529px;
    position: absolute;
    border-color: transparent;
}

.login-monoto-logo11 {
    top: 160px;
    left: 80px;
    width: 128px;
    height: 63px;
    position: absolute;
    border-color: transparent;
}

.login-image433084321 {
    top: 198px;
    left: 652px;
    width: 833px;
    height: 557px;
    position: absolute;
    border-color: transparent;
    border-radius: 308px;
}